@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Here at Contoso University, we pride ourselves on blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
        <img src="~/images/archway.jpg" />
        <img src="~/images/pexels-photo-207691.jpg" />
        <img src="~/images/pexels-photo-256490.jpg" />
        <img src="~/images/pexels-photo-3762800.webp" />

    </div>
</div>